.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

/* ----------------------------------------------------------------------------------- */
/* 3. MOBILE FIRST (Breder dan 320 pixels - Bijlage 3: 1, 3, 2, 4 Verticaal) */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 100%;
}

.block.block1 {
    background-color: #A92C5F;
    order: 1;
}

.block.block2 {
    background-color: #655E94;
    order: 3;
}

.block.block3 {
    background-color: #798BB4;
    order: 2;
}

.block.block4 {
    background-color: #A9D9D6;
    order: 4;
}


/* ----------------------------------------------------------------------------------- */
/* 2. TABLET LAY-OUT (Breder dan 772 pixels - Bijlage 2: 1, 2, (3 & 4 Horizontaal)) */
@media (min-width: 772px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .block.block1 {
        grid-column: 1 / span 2;
        grid-row: 1;
        order: 1;
    }

    .block.block2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        order: 2;
    }

    .block.block3 {
        grid-column: 1 / span 1;
        grid-row: 3;
        order: 3;
    }

    .block.block4 {
        grid-column: 2 / span 1;
        grid-row: 3;
        order: 4;
    }
}


/* ----------------------------------------------------------------------------------- */
/* 1. DESKTOP LAY-OUT (Breder dan 992 pixels - Oplossing met 1:2 fractional units) */
/* Volgorde: 1, 2, (3:1fr & 4:2fr Horizontaal). De volgorde van Bijlage 1 (2, 1, 3, 4) wordt hierdoor genegeerd om de fractional units toe te passen. */
@media (min-width: 992px) {
    .container {
        /* Definitie van de 1fr en 2fr kolommen */
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

    .block.block1 {
        grid-column: 1 / span 2;
        grid-row: 1;
        order: 1;
    }

    .block.block2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        order: 2;
    }

    .block.block3 {
        /* Neemt 1 unit van de 3 beschikbare units */
        grid-column: 1 / span 1;
        grid-row: 3;
        order: 3;
    }

    .block.block4 {
        /* Neemt 2 units van de 3 beschikbare units (dubbel zo groot als 3) */
        grid-column: 2 / span 1;
        grid-row: 3;
        order: 4;
    }
}

