body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

a:hover {
    color: red !important;
}

header {
    height: 200px;
    background-image: url('../images/bgsky3.jpg');
    background-size: cover;
    background-position: center;
    color: darkblue;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.top-title {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    margin: 0;
    line-height: 1.2;
}

.sub-title {
    font-size: 240%;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.airplane-image {
    position: absolute;
    right: 250px;
    bottom: 60px;
    z-index: 10;
}

main {
    width: 74%;
    margin-right: 10px;
    margin-top: 0;
    box-sizing: border-box;
    float: left;
}

.news-area {
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    box-sizing: border-box;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

.news-area h3 {
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
    padding: 5px 0;
    margin: 0;
}

.news-area p {
    color: #666666;
    font-size: 90%;
    padding: 10px;
    margin: 0;
}

.introduction {
    background-color: white;
    color: black;
    text-align: justify;
    padding: 0;
    overflow: hidden;
}

.introduction .logo {
    float: left;
    margin: 0 20px 0 20px;
}

.introduction p {
    padding: 20px 30px 20px 0;
    margin: 0;
}

.blue-text {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

/* GALERIJ STIJLEN - De float: left maakt het 3x3 raster */
.gallery {
    background-color: #999999;
    /* 20px padding links en boven voor de afstand van 20px tot de randen */
    padding: 20px 0 0 20px;
    overflow: hidden; /* Houdt de zwevende foto's binnen de container */
}

.photo-frame {
    /* Vaste grootte voor de afbeelding (180x180) */
    width: 180px;
    height: 180px;

    /* 10px witte ruimte rondom de foto */
    padding: 10px;
    background-color: white;

    /* Rand: 1px stippellijn */
    border: 1px dotted #999999;

    /* 20px ruimte rechts en onder, essentieel voor de 3-kolom indeling */
    margin: 0 20px 20px 0;

    /* Dit zorgt ervoor dat de kaders naast elkaar komen */
    float: left;

    /* Zorgt dat 180px de binnenmaat is (padding en border komen erbij) */
    box-sizing: content-box;
}

.photo-frame img {
    width: 100%;
    height: 100%;
    display: block;
}

.bottom-footer {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding: 20px 0;
    clear: both;
    overflow: hidden;
}

.footer-block {
    float: left;
    margin-left: 120px;
}

.bottom-footer ul {
    list-style: disc;
    padding-left: 1.5em;
    margin: 0;
}

.bottom-footer ul ul {
    list-style: circle;
    padding-left: 1em;
}

.bottom-footer a {
    color: white;
    text-decoration: none;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 0;
}

.copyright p {
    margin: 0;
}