body{
    text-align: center;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    grid-area: header;
}

.gridNav {
    background-color: #c6c0ff;
    grid-area: navigation;
}

.gridMain {
    background-color: #f9f6d2;
    grid-area: main;
}

.gridAside {
    background-color: #d4ffd1;
    grid-area: aside;
}

.gridFooter {
    background-color: #ffd1d1;
    grid-area: footer;
}
@media (min-width: 800px) {
    .grid{
        display: grid;
        grid-template-areas:"header header header header header"
        "navigation main main main aside"
        "footer footer footer footer footer"
    }
}
@media (max-width: 799px) {
    .grid{
        display: grid;
        grid-template-areas: "header"
        "navigation"
        "main"
        "aside"
        "footer"
    }
}