html {
    background-color: #333;
    font-family: helvetica;
}

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-size: 1em;
    margin: 5px;
    padding: 0;
}

a {
    color: #ddaa00;
    text-decoration: none;
}

h1 {
    margin: 0px;
    padding: 10px;
}

header, footer {
    background: #ddaa00;
    padding: 10px;
}

main {
    background-color: grey;
}

section {
    margin: 5px;
}

img {
    padding: 0px;
    max-width: 100%;
    display: block;
}

nav {
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    margin: 0 5px;
    border: 1px solid #ccc;
    padding: 5px 2px;
    background-color: white;
    flex-grow: 1;
    text-align: center;
    color: #333;
}

@media (min-width: 701px) {

    main {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 5px 10px;
    }

    section {
        flex: 1;
        margin: 5px;
        border: 1px solid #333;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}