/* Algemene instellingen */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px; /* witruimte onder de header */
}

header h1,
header h2 {
    color: #EDF2F4;
}

header h1 {
    font-size: 80px;
}

header h2 {
    font-size: 40px;
}

/* Education sectie */
.education {
    background-color: #8D99AE;
    padding: 30px;
}

/* Footer */
footer {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-top: 10px; /* witruimte boven de footer */
}

/* Links */
a {
    color: #EF233C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
