[data-type="studioespresso\\\daterange\\\fields\\\DateRangeField"] > .input {
    background: #f1f5f8;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px 7px;
}

[data-type="studioespresso\\\daterange\\\fields\\\DateRangeField"] .field > .heading > label {
    color: #8f98a3;
    font-weight: 400;
}

[data-type="studioespresso\\\daterange\\\fields\\\DateRangeField"] .field[id*=Date] {
    width: 8em;
}

[data-type="studioespresso\\\daterange\\\fields\\\DateRangeField"] .field[id*=Time] {
    padding-left: 10px;
    width: calc(100% - 8em - 10px);
}

[data-type="studioespresso\\\daterange\\\fields\\\DateRangeField"] .field {
    float: none !important;
    margin-top: 5px !important;
    margin-right: 0 !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
}

.superTable-layout-row-new-field .App_wrap_2esTH {
    margin: 0;
}
