/* Reset basisopmaak */
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Container die 95% breed is en gecentreerd wordt */
body {
    width: 95%;
    margin: 0 auto; /* centreert de pagina */
    background-color: #f2f2f2;
}

/* Header met achtergrondafbeelding */
header>h1 {
    background: url("../picture/header.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 50px 20px;
    margin: 0;
}

header {
    font-size: 40px;
    margin-top: 0;
    font-weight: bold;
}

/* Navigatiebalk direct onder header */
nav {
    background-color: #333;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: #00ff99;
    text-decoration: underline;
}

/* Artikelsectie */
main {
    background-color: #f2f2f2;
    padding: 10px 20px;
}

article {
    background-color: #e6e6e6;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

article h2 {
    font-size: 30px;
    color: #4a545e;
    margin-top: 25px;
    text-decoration: underline;
}

article p {
    line-height: 1.5;
    color: #000;
}

article a {
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    color: #0033cc;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

/* Footer onderaan */
footer {


    font-size: 12px;
    padding: 0px 0px;
}
